<a href="https://colab.research.google.com/github/gimbabheaven/2023-Basic_Python/blob/master/02_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스, 집합형 자료구조

| 분류             | 타입                 | 특징                                   | 예시                     |
| ---------------- | -------------------- | -------------------------------------- | ------------------------ |
| 시퀀스(sequence) | 리스트(list)         | 순서가 있고, 가변(mutable)             | [1, 2, 3]                |
| 시퀀스(sequence) | 튜플(tuple)          | 순서가 있고, 불변(immutable)           | (1, 2, 3)                |
| 세트(set)        | 세트(set)            | 순서가 없고, 중복을 허용하지 않음      | {1, 2, 3}                |
| 맵(map)          | 딕셔너리(dictionary) | 순서가 없고, key/value 쌍으로 이루어짐 | {'a': 1, 'b': 2, 'c': 3} |

## 리스트(list)

- 리스트는 데이터의 요소를 순차적으로 파악하는데 용이한 자료형 입니다.
- 리스트는 다양한 메서드(method) 혹은 함수를 지원하며 메서드를 활용하여 요소를 추가, 삭제 및 변경할 수 있습니다.

**메서드(method)**: 객체(object)가 포함하는 함수 혹은 기능입니다. 함수에 대한 내용은 추후에 다룹니다.

### 생성

[] 형태로 표현합니다.

빈 리스트를 생성합니다.

In [1]:
mylist = []
mylist

[]

In [ ]:
mylist = list()
mylist

리스트를 생성하면서 값을 포함합니다.

In [ ]:
mylist = [1, 3, 2, 4, 5]
mylist

### list 규칙

* list는 다양한 type의 데이터를 집합으로 가집니다.
* list안에 list도 허용합니다. > 중첩된 리스트 허용
* list는 순서(order)의 개념이 존재합니다.

In [2]:
a = []

In [ ]:
a

In [3]:
a = [1, 2, 3]
a

[1, 2, 3]

In [6]:
# 여러가지 데이터 타입을 포함하여 리스트 생성 가능
a = [1, 'hello', 3, 3.14, True]
a

[1, 'hello', 3, 3.14, True]

리스트 안에 리스트로 포함할 수 있습니다.

In [5]:
a = [1, 'hello', 3, 3.14, [6, 7, '8']]
a

[1, 'hello', 3, 3.14, [6, 7, '8']]

### 관련 함수

- . 점 연산자로 함수를 실행할 수 있습니다.
- 함수는 어떤 작업을 수행하는 코드를 모아 이름을 붙인 것입니다.
- 자세한 내용은 추후 함수 단원에서 배웁니다.

### append() : 값 추가

빈 리스트를 생성합니다.

In [7]:
mylist = []
mylist

[]

append() 는 값을 맨 뒤에 추가 합니다.

In [10]:
mylist.append(1)
mylist

[1, 1, 1]

중복된 값을 추가할 수 있으며, 순서가 **유지**됩니다.

In [11]:
mylist.append(7)
mylist.append(7)
mylist.append(7)
mylist.append(3)
mylist.append(5)
mylist.append(2)
mylist

[1, 1, 1, 7, 7, 7, 3, 5, 2]

### sort() : 정렬

- 요소를 순서대로 정렬합니다 (오름차순)
- sort()는 내부적으로 정렬 합니다.

In [12]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort()

In [13]:
mylist

[1, 2, 3, 4, 5, 6, 7]

역정렬(reverse order)도 가능합니다. (`reverse=True`를 지정합니다.)

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort(reverse=True)

In [ ]:
mylist

### sorted() : 정렬

- 요소를 순서대로 정렬합니다.
- 내부적으로 정렬하지 않고 **정렬된 복사본을 반환**합니다.
- 즉 원본 데이터는 정렬되지 않습니다.

In [14]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist2 = sorted(mylist)
mylist2

[1, 2, 3, 4, 5, 6, 7]

In [15]:
mylist

[1, 6, 3, 2, 7, 5, 4]

마찬가지로, `reverse=True`를 지정하여 역정렬할 수 있습니다.

In [17]:
mylist = [1, 6, 3, 2, 7, 5, 4]
sorted(mylist, reverse=True)

[7, 6, 5, 4, 3, 2, 1]

### reverse() : 역정렬

In [18]:
mylist

[1, 6, 3, 2, 7, 5, 4]

In [21]:
mylist.reverse()

In [22]:
mylist

[1, 6, 3, 2, 7, 5, 4]

In [25]:
mylist[::-1] #원본에 반영되어 있지는 않은 상태

[4, 5, 7, 2, 3, 6, 1]

In [26]:
mylist

[1, 6, 3, 2, 7, 5, 4]

### len() : 전체 항목의 개수 세기

In [27]:
mylist = [1, 6, 3, 2, 7, 5, 4]
len(mylist)

7

### insert() : 값 추가

지정한 index에 값 추가

In [28]:
mylist = [1, 6, 3, 2, 7, 5, 4]

In [29]:
mylist

[1, 6, 3, 2, 7, 5, 4]

In [30]:
mylist.insert(1, 100) #mylist.insert(인덱스번호, 넣을 값)

In [31]:
mylist

[1, 100, 6, 3, 2, 7, 5, 4]

### remove() : 값 제거

리스트에서 첫 번째 나오는 해당 값 삭제

In [32]:
mylist = [1, 2, 3, 4, 7, 7, 7, 6, 5]

In [33]:
mylist.remove(7) #값 중복 시, 맨 앞에서 만나는 값(=7)을 제거

In [34]:
mylist

[1, 2, 3, 4, 7, 7, 6, 5]

### pop() : 요소 꺼내기

x번째 요소를 돌려주고 해당 요소는 삭제

In [35]:
mylist = [1, 2, 3, 4, 7, 7, 7, 6, 5]

In [36]:
mylist

[1, 2, 3, 4, 7, 7, 7, 6, 5]

In [37]:
mylist.pop(1)

2

In [38]:
mylist

[1, 3, 4, 7, 7, 7, 6, 5]

### del : 요소 삭제

In [39]:
mylist = [100, 200, 300, 400, 500]

del mylist[1]
print(mylist) # [100, 300, 400, 500]

del mylist[3]
print(mylist) # [100, 300, 400]

[100, 300, 400, 500]
[100, 300, 400]

### count() : 갯수 세기

In [40]:
a = [1, 1, 1, 1, 1, 2, 2, 3]

In [41]:
a.count(1) # a의 요소 중 1의 갯수

5

In [42]:
a.count(2) # a의 요소 중 2의 갯수

2

In [43]:
a.count(5) # a의 요소 중 5의 갯수

0

### extend() : 리스트 확장

In [46]:
a = [1, 2, 3]

In [47]:
a.extend([4, 5])

In [48]:
a

[1, 2, 3, 4, 5]

`+` 연산자는 extend()와 동일한 기능을 수행합니다.

In [49]:
a = [1, 2, 3]
a + [4, 5]

[1, 2, 3, 4, 5]

### 연습문제

In [56]:
movie = ['어벤져스', '아이언맨', '토르', '스파이더맨']

`movie`에 맨 끝에 `엑스맨` 을 추가하세요.

In [58]:
# 코드를 입력해 주세요
movie.append('엑스맨')
movie

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '아이언맨', '토르', '스파이더맨', '엑스맨']</pre>

`movie`의 1번 index에 `데드풀`을 추가하세요

In [60]:
# 코드를 입력해 주세요
movie.insert(1, '데드풀')
movie

['어벤져스', '데드풀', '아이언맨', '토르', '스파이더맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '데드풀', '아이언맨', '토르', '스파이더맨', '엑스맨']</pre>

`movie`에서 `아이언맨`을 삭제 하세요.

- remove() 사용

In [61]:
# 코드를 입력해 주세요
movie.remove('아이언맨')
movie

['어벤져스', '데드풀', '토르', '스파이더맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '데드풀', '토르', '스파이더맨', '엑스맨']</pre>

`movie`에서 1번째 index를 삭제하세요

In [66]:
# 코드를 입력해 주세요
movie
del movie[1]
movie

['어벤져스', '토르', '스파이더맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '토르', '스파이더맨', '엑스맨']</pre>

In [68]:
kr_movie = ['승리호', '신세계', '타짜']

`kr_movie`를 `movie`에 추가해 주세요

In [69]:
# 코드를 입력해 주세요
movie.extend(kr_movie)
movie

['어벤져스', '토르', '스파이더맨', '엑스맨', '승리호', '신세계', '타짜']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '토르', '스파이더맨', '엑스맨', '승리호', '신세계', '타짜']</pre>

`movie`를 가나다 순으로 정렬하세요

In [71]:
# 코드를 입력해 주세요
movie.sort()
movie

['스파이더맨', '승리호', '신세계', '어벤져스', '엑스맨', '타짜', '토르']

<p><strong>[출력 결과]</strong></p><pre>['스파이더맨', '승리호', '신세계', '어벤져스', '엑스맨', '타짜', '토르']</pre>

### 인덱싱(indexing): 색인

In [72]:
mylist = [1, 2, 3, 4]

인덱스는 **0번 부터 시작** 합니다.

In [73]:
mylist[0]

1

In [74]:
mylist[3]

4

In [75]:
mylist[4] #에러 발생

IndexError: ignored

### 역순 인덱싱

파이썬은 음수 인덱싱을 지원합니다.

In [76]:
mylist #[-4, -3, -2 , -1]

[1, 2, 3, 4]

In [77]:
mylist[-1]

4

In [78]:
mylist[-3]

2

In [79]:
mylist[-5] #에러발생

IndexError: ignored

### 인덱스로 접근하여 값 바꾸기

In [80]:
mylist = [1, 2, 3, 4, 5]
mylist

[1, 2, 3, 4, 5]

In [81]:
mylist[0]

1

In [82]:
mylist[0] = 100

In [83]:
mylist

[100, 2, 3, 4, 5]

In [84]:
mylist[-1] = 300

In [85]:
mylist

[100, 2, 3, 4, 300]

### 중첩된 리스트 인덱싱

중첩된 리스트에 대한 리스트는 중첩 인덱싱으로 접근합니다. 값을 변경하는 것도 가능합니다.

In [86]:
mylist = [['가', '나', '다'], [4, 5, 6], 7, 8, 9]

In [87]:
mylist

[['가', '나', '다'], [4, 5, 6], 7, 8, 9]

1 번째 리스트 요소를 가져옵니다.

In [88]:
mylist[1] #[4, 5, 6]

[4, 5, 6]

1번째 리스트의 요소 중 1번째 요소를 가져오기 위해서는 중첩 인덱싱으로 접근합니다.

In [89]:
mylist[1][1] # 5

5

In [90]:
mylist[1][1] = 99

In [91]:
mylist

[['가', '나', '다'], [4, 99, 6], 7, 8, 9]

### 슬라이싱(Slicing): 범위 추출

- 슬라이싱의 활용: [start:stop:step] 을 명시하여 부분을 추출할 수 있습니다.

In [ ]:
mylist = [100, 200, 300, 400, 500]

[:]을 활용하여 전체를 추출할 수 있습니다.

In [92]:
mylist[:]

[['가', '나', '다'], [4, 99, 6], 7, 8, 9]

[start:]는 시작 index 부터 끝까지 추출합니다.

In [93]:
mylist[2:]

[7, 8, 9]

In [94]:
mylist[-3:]

[7, 8, 9]

[:end]는 처음부터 end 전까지 추출합니다.

In [ ]:
mylist[:3] # 0, 1, 2 번째 까지만 추출한다는 뜻

[start:end]는 start부터 end 전까지 추출합니다.

In [ ]:
mylist[1:3]

In [ ]:
mylist[-3: -1]

## 연습문제

In [98]:
fruit = ['사과', '바나나', '파인애플', '배', '수박', '키위', '오렌지', '망고', '딸기']

list **인덱싱** & **슬라이싱**을 사용하여 다음과 같이 출력 하세요

In [100]:
# 코드를 입력해 주세요
fruit[2:5]

['파인애플', '배', '수박']

<p><strong>[출력 결과]</strong></p><pre>['파인애플', '배', '수박']</pre>

In [101]:
# 코드를 입력해 주세요
fruit[-2:]

['망고', '딸기']

<p><strong>[출력 결과]</strong></p><pre>['망고', '딸기']</pre>

In [102]:
# 코드를 입력해 주세요
fruit[0:3]

['사과', '바나나', '파인애플']

<p><strong>[출력 결과]</strong></p><pre>['사과', '바나나', '파인애플']</pre>

In [103]:
# 코드를 입력해 주세요
fruit[3:]

['배', '수박', '키위', '오렌지', '망고', '딸기']

<p><strong>[출력 결과]</strong></p><pre>['배', '수박', '키위', '오렌지', '망고', '딸기']</pre>

## indexing 에 step 활용하기

list[start:stop:step]

- step은 몇 칸씩 건너 뛰는지 지정합니다.

In [104]:
mylist = [100, 200, 300, 400, 500]

**2칸**씩 건너뛰기

In [105]:
mylist[::2] #0번째 리스트부터 2칸씩 건너뛰기

[100, 300, 500]

**역순** 출력

In [106]:
mylist[::-1]

[500, 400, 300, 200, 100]

역순 그리고 **2칸씩** 건너뛰기

In [107]:
mylist[::-2]

[500, 300, 100]

In [108]:
mylist

[100, 200, 300, 400, 500]

In [109]:
mylist[1::2]

[200, 400]

In [110]:
mylist[-2::-2]

[400, 200]

### list 덧셈: list 확장

In [111]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [112]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [113]:
a = ['a', 'b', 'c']
b = ['d', 'e', 'f']

In [114]:
a + b

['a', 'b', 'c', 'd', 'e', 'f']

### list 곱셈: list 반복

In [115]:
a = ['a', 'b', 'c']
b = [1, 2, 3, 4]

In [116]:
a * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [117]:
b * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [118]:
a * b

TypeError: ignored

### 연습문제 1

sample = [1, 3, 5, 4, 2] 리스트를 슬라이싱을 이용하여 [2, 4, 5, 3, 1]로 출력하세요

In [127]:
sample = [1, 3, 5, 4, 2]

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [120]:
# 코드를 입력해 주세요
sample[::-1]

[2, 4, 5, 3, 1]

<p><strong>[출력 결과]</strong></p><pre>[2, 4, 5, 3, 1]</pre>

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [124]:
# 코드를 입력해 주세요
sample[::2]

[1, 5, 2]

<p><strong>[출력 결과]</strong></p><pre>[1, 5, 2]</pre>

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [128]:
# 코드를 입력해 주세요
sample[2::-2]

[5, 1]

<p><strong>[출력 결과]</strong></p><pre>[5, 1]</pre>

### 연습문제 2

- 아래의 값을 저장하고 있는 `myList` 변수를 생성하세요.
- [[1,2,3],[4,5,6],[7,8]]

In [156]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList

[[1, 2, 3], [4, 5, 6], [7, 8]]

- 9를 `myList`에 추가하여 아래의 값을 저장할 수 있도록 하세요. ★★★★★★★★★★
    - [[1,2,3],[4,5,6],[7,8,9]]

In [157]:
# 코드를 입력해 주세요
myList
myList[2].extend([9])
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

<p><strong>[출력 결과]</strong></p><pre>[[1, 2, 3], [4, 5, 6], [7, 8, 9]]</pre>

## 튜플(tuple)

- 리스트(list)는 가변(mutable)하는 객체(object)이지만, **튜플(tuple)은 불변(immutable)한 객체**입니다.
- 가변 객체는 요소에 대한 수정, 삭제, 변경 등이 가능하지만, 불편 객체는 **요소에 대한 수정, 삭제, 변경이 불가**합니다.

### 생성

- tuple(), () 로 생성합니다.
- 혹은 , 로 생성할 수 있습니다.

**()로 튜플을 생성**할 수 있습니다.

In [158]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

**tuple()** 로 생성하는 경우

In [159]:
mytuple = tuple([1, 2, 3])
mytuple

(1, 2, 3)

**, 로 생성**할 수 있습니다.

In [160]:
mytuple = 1, 2, 3
mytuple

(1, 2, 3)

**단일 요소를 생성**할 때는 반드시 ,를 붙여 줍니다.
- (1,)과 (1)은 다른 자료구조임을 꼭 알고 있어야 합니다.

In [161]:
mytuple = 1,
print(type(mytuple))
mytuple

<class 'tuple'>

(1,)

In [162]:
mytuple = (1,)
print(type(mytuple))
mytuple

<class 'tuple'>

(1,)

In [163]:
mytuple = (1)
print(type(mytuple))
mytuple

<class 'int'>

1

**튜플 언패킹(unpacking)**
- 튜플로 한 번에 **여러 변수에 값을 한 번에 할당**할 수 있습니다.

In [164]:
a = 1, 2, 3

print(a)
# print(b)
# print(c)

(1, 2, 3)

In [165]:
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

### 튜플 자료형은 요소의 추가, 삭제, 변경등을 허용하지 않습니다.

In [166]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

요소를 **조회하는 것은 가능**합니다.

In [167]:
mytuple[1]

2

요소를 **변경**하려는 경우

In [168]:
mytuple[1] = 100 #에러발생

TypeError: ignored

요소를 **삭제**하려는 경우

In [169]:
del mytuple[1] #에러발생

TypeError: ignored

### 튜플 덧셈: 튜플의 확장

In [170]:
a = (1, 2)
b = (3, 4)

In [171]:
a + b

(1, 2, 3, 4)

### 튜플 곱셈: 튜플의 반복

In [172]:
a * 3

(1, 2, 1, 2, 1, 2)

In [173]:
a * 10

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

### 길이 파악하기

In [174]:
mytuple

(1, 2, 3)

In [175]:
len(mytuple)

3

### list를 tuple로 변환

In [176]:
a = [1, 2, 3, 4]

In [177]:
a

[1, 2, 3, 4]

In [178]:
type(a)

list

In [179]:
b = tuple(a)

In [180]:
b

(1, 2, 3, 4)

In [181]:
type(b)

tuple

### tuple을 list로 변환

In [182]:
a = (1, 2, 3, 4)

In [183]:
a

(1, 2, 3, 4)

In [184]:
type(a)

tuple

In [185]:
b = list(a)

In [186]:
b

[1, 2, 3, 4]

In [187]:
type(b)

list

리스트로 type을 변경하였기 때문에 **요소의 추가 및 삭제가 가능**합니다.

In [188]:
b.append(5)
b

[1, 2, 3, 4, 5]

In [189]:
b.remove(2)
b

[1, 3, 4, 5]

요소를 추가 및 삭제한 후 **다시 tuple로 변경**할 수 있습니다.

In [190]:
c = tuple(b)

In [191]:
c

(1, 3, 4, 5)

In [192]:
type(c)

tuple

### 연습문제

주어진 tuple `a`를 (1, 100, 2, 3, 4)의 요소를 가지도록 변경해 주세요

In [202]:
a = (1, 2, 3, 4)

In [203]:
# 코드를 입력해 주세요
type(a)

temp = list(a)
type(temp)

temp.insert(1, 100)
temp

a = tuple(temp)

type(a)

tuple(a)

(1, 100, 2, 3, 4)

<p><strong>[출력 결과]</strong></p><pre>(1, 100, 2, 3, 4)</pre>